# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\XAMPP 2.0\htdocs\broadway2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
